.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* castomize  */
h1,
h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 7px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 50px;
}

.list_top {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.list_top h1 {
  margin: 0;
  font-size: 25px;
}

.list_top input {
  width: 200px;
  padding-left: 10px;
}

.list_card {
  list-style: none;
  border: 1px solid blue;
  margin-bottom: 10px;
}

.wrapCard {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.list_card {
  list-style: none;
  border: 1px solid blue;
  margin-bottom: 10px;
}

.list_card--wrappTitle {
  display: flex;
  flex-direction: column;
}

.list_card img {
  width: 180px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 20px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.details_item {
  margin: 30px 33px 0 33px;
}

.details_item img {
  width: 160px;
}

.details_item h3 {
  font-size: 20px;
}

.details_item--wrappList {
  display: flex;
}

.details_item--wrappList ul {
  padding-left: 10px;
}

.details_item--wrappList ul li {
  padding-top: 0;
}

.details_item_link {
  color: blue;
}

/* media queries */
@media only screen and (max-width: 550px) {
  h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 23px;
  }

  .list_top {
    flex-direction: column;
    align-items: center;
  }

  .list_top input {
    margin: 10px 0;
  }
}
